<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tagproject.tags">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/tag"
        android:label="MSFRC 모듈플랫폼"
        android:roundIcon="@mipmap/tag"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".SecondActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ThiredActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DeviceListActivity"
            android:label="블루투스 연결"
            android:theme="@android:style/Theme.DeviceDefault.Dialog" />
        <receiver android:name=".MyBroadcastReceiver">
            <intent-filter android:priority="10000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>